:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-text-color: #2196f3;
  --background-color: #2f303a;
  --text-color: #ffffff;
  --background-text-color: #0f5996;
  --section-color: #f5f4fa;
}

/* Body---------------------------------- */

body {
  background-color: var(--text-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

/* Header --------------------------------- */

.page-header-color-logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--second-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.page-header-color-logo:hover {
  color: var(--accent-text-color);
}

.page-header-color-logo span {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-text-color);
  letter-spacing: 0.03em;
}

.contact-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-text-color);
}

/* Nav------------------------------------  */

.site-nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link {
  color: var(--second-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.link-current {
  text-decoration: none;
}

.link {
  text-decoration: none;
}
/* Hero------------------------------------ */

.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  color: var(--text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  background-color: var(--accent-text-color);
  color: var(--text-color);
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--background-text-color);
}

/* Section -----------------------------*/

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section-what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--second-text-color);
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда -----------------------------*/

.section-comand {
  background-color: var(--section-color);
}

.section-comand-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-professions {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Футер----------------------------------- */

.adress {
  font-style: normal;
}

.footer {
  background-color: var(--background-color);
}

.page-footer-color-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-decoration: none;
  cursor: default;
}

.page-footer-color-logo:hover {
  color: var(--accent-text-color);
}

.page-footer-color-logo span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.title-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-decoration: none;
  cursor: default;
}

.title-adress:hover,
.title-adress:focus {
  color: var(--accent-text-color);
}

.title-adress-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  cursor: default;
}

.title-adress-post:hover {
  color: var(--accent-text-color);
  text-decoration: none;
  opacity: 0.6;
}

/* CSS Porfolio ----------------------------*/

/* Body---------------------------------  */

body {
  background-color: var(--text-color);
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

/* Site nav-------------------------------  */

.site-nav .link-current {
  color: var(--accent-text-color);
}

/* Portfolio Button------------------------ */

.button-portfolio {
  background-color: var(--section-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background: var(--accent-text-color);
  color: var(--text-color);
}

.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.portfolio-surname {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
